/****************************/
/*NAVIGATION BAR*/
/****************************/
header {
  background-color: #e9edee;
  margin-bottom: 8rem;
}
.nav {
  padding-top: 4.8rem;
  padding: 2.4rem 0 0 6.4rem;
  display: flex;
  /* justify-content: space-between; */
  font-weight: 500;
  align-items: center;
}

.logo-img {
  height: 2.2rem;
  margin-right: 6.4rem;
  margin-bottom: 0.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-cont a {
  text-decoration: none;
  color: #090b2f;
}
.nav-btn {
  margin-right: 6.4rem;
  margin-left: 50rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/****************************/
/*HERO SECTION*/
/****************************/
.hero-sectin {
  padding: 3.2rem 0 0 9.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: -2.4rem;
  margin-top: 9.6rem;
}

.heading-section {
  margin-top: 4.8rem;
}
.main-heading {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 2.4rem;
}

.last-word {
  font-weight: 700;
  letter-spacing: 0.2px;
}

.heading-paragraph {
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
}

.email-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 70%;
  height: 4.8rem;
  border-radius: 2.4rem;
  border-left: 2px solid #fe5663;
  margin-bottom: 3.2rem;
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.mailto {
  display: flex;
  justify-content: space-around;
  position: absolute;
  overflow: hidden;
}
.mail-icon {
  height: 1.6rem;
  width: 1.6rem;
  color: #888;
  margin-left: 2.4rem;
}
.email {
  border: none;
  margin-left: 1.6rem;
}

.right-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: #fe5663;
  margin-right: 1.2rem;
  position: absolute;
  right: 0;
}
/****************************/
/*PERSONS*/
/****************************/
.persons {
  display: flex;
}

.person {
  height: 3.6rem;
  width: 3.6rem;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: -1.6rem;
}
.first-person {
  z-index: 4;
}
.second-person {
  z-index: 3;
}
.third-person {
  z-index: 2;
}
.fourth-person {
  z-index: 1;
}

.feedback {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.feedback-text {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0px;
}

.feedback-word {
  font-size: 1rem;
  font-weight: 400;
}
/****************************/
/*HOW SECTION*/
/****************************/
.how-section {
  margin: 0 6.4rem 6.4rem 6.4rem;
}

.how-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.4rem;
}

.how-discription {
  color: #666;
  font-size: 1.2rem;
  font-weight: 500;
}

.how-btn {
  width: 14rem;
  height: 3.6rem;
  font-size: 1rem;
  font-weight: 700;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how--right-icon {
  color: inherit;
  height: 1.2rem;
  width: 1.2rem;
  font-weight: 400;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
/****************************/
/*HOW FAST SECTION*/
/****************************/
.how-fast {
  border: 1px solid #eee;
  padding: 4.8rem;
  box-shadow: 1px 1rem 1.2rem rgba(0, 0, 0, 0.02);
}

.flash-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #22a4f8;
  padding: 1.2rem;
  border-radius: 50%;
}
.fast-icon {
  height: 1.2rem;
  width: 1.2rem;
  color: #fff;
}
.fast-heading {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}

.fast-discription {
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.readmore {
  display: flex;
  color: #666;
}

.flash-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #22a4f8;
  padding: 1.2rem;
  border-radius: 50%;
}
.home-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #22a4f8;
  padding: 1.2rem;
  border-radius: 50%;
}
.infinite-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #fe5663;
  padding: 1.2rem;
  border-radius: 50%;
}
.notifications-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #f4763c;
  padding: 1.2rem;
  border-radius: 50%;
}
.settings-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #6882f1;
  padding: 1.2rem;
  border-radius: 50%;
}
.lock-closed-div {
  margin-bottom: 1.6rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: #3bb095;
  padding: 1.2rem;
  border-radius: 50%;
}

/****************************/
/*MARKETING SECTION*/
/****************************/
.how-marketing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  background-color: #f0f1f6;
  padding: 4.8rem;
  margin: 6.4rem 6.4rem 6.4rem 0;
  overflow: hidden;
  width: 100%;
}
.marketing-img {
  position: relative;
  height: 70%;
  width: 70%;
}
.about-thumb {
  position: absolute;
  width: 90%;
  margin-top: -4.8rem;
}
.carfully {
  display: flex;
  justify-content: left;
  gap: 0.8rem;
}
.checkmark {
  color: #2cc062;
  height: 2.4rem;
  width: 2.4rem;
}
.carfully-choose {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}
.marketing-text {
  width: 80%;
}
.marketing-word {
  color: #fe5663;
  margin-bottom: 1.6rem;
}

.james-bond {
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  color: #888;
}
.carfully-heading {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.carfully-paragraph {
  font-size: 1rem;
  font-weight: 500;
  color: #888;
}
/****************************/
/*WHEREVER SECTION*/
/****************************/
.wherever-container {
  background-color: #0e1134;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
}
.wherever-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.wherever-paragraph {
  font-size: 1.2rem;
}
.wherever-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  align-items: center;
  justify-items: right;
}

.wherever-column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.2rem;
  padding: 2.4rem;
  height: 70%;
  width: 80%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.486);
  box-shadow: 1px 1rem 1.2rem rgba(0, 0, 0, 0.02);
}
.row-circla {
  height: 2.4rem;
  width: 2.4rem;
}
.red-circle {
  color: #fc3e63;
  border: 2px solid #fc3e646c;
  border-radius: 50%;
}
.blue-circle {
  color: #31acfd;
  border: 2px solid #31abfd6c;
  border-radius: 50%;
}

.green-circle {
  color: #34ce57;
  border: 2px solid #34ce5871;
  border-radius: 50%;
}
.row-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.row-paragraph {
  color: #666;
  font-weight: 500;
  font-size: 1rem;
}

.features-thumb {
  width: 70%;
}

/****************************/
/*INSTALLATION SECTION*/
/****************************/
.install-container {
  margin: 6.4rem;
}
.install-head {
  margin-bottom: 4.8rem;
}
.install-paragraph {
  font-size: 1.2rem;
  color: #888;
}
.install-active {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.install-div {
  text-align: center;
  box-shadow: 1px 1rem 1.2rem rgba(0, 0, 0, 0.087);
  margin-bottom: 9.6rem;
  padding: 3.2rem 4.8rem;
}
.install-icon {
  height: 4.8rem;
  width: 4.8rem;
}
.plus-number {
  margin-bottom: 0.6rem;
}
.active-word {
  color: #666;
  margin-bottom: 0.6rem;
}
.watch {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 2.4rem;
}
.tablet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-video {
  background-image: url("images/video-thumb-1.jpg");
  background-size: cover;
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: #ffffff;
  line-height: 80px;
  border-radius: 50%;
  font-size: 3rem;
  margin: 0 auto;
  cursor: pointer;
  outline-offset: 0.5rem;
  outline: 1px solid #ffffff;
}
.work-video ion-icon {
  color: #fe5663;
}
.work-video,
.slide-img {
  margin-bottom: 3.2rem;
  box-shadow: 1px 1rem 1.2rem rgba(0, 0, 0, 0.087);
}
.watch-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.watch-paragraph {
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 2.4rem;
}
.watch-btn {
  background-color: #fff;
  color: #090b2f;
  border: 1px solid rgba(136, 136, 136, 0.251);
  font-weight: 500;
}
.watch-direction {
  text-align: right;
}
.arrow {
  height: 3.2rem;
  width: 3.2rem;
  font-weight: 400;
  color: rgba(136, 136, 136, 0.251);
}
.arrow:hover,
.arrow:visited {
  background-color: #090b2f;
  border-radius: 50%;
  color: #fe5663;
}
/****************************/
/*STORE SECTION*/
/****************************/

.app-store {
  margin-bottom: 6.4rem;
  background-color: #e9edee;
  padding: 9.6rem 4.8rem;
}
.store-container {
  width: 50%;
}
.download-paragraph {
  font-size: 1rem;
  color: #fe5663;
  margin-bottom: 1.2rem;
}
.download-heading {
  font-size: 2.4rem;
}
.store-paragraph {
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 2.4rem;
}
.store-buttons {
  display: flex;
  gap: 1.2rem;
}
.store-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  height: 4.8rem;
  border-radius: 9px;
}
.store-icon ion-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.store-text {
  text-align: left;
}
.ios-btn {
  background-color: #090b2f;
  color: #fff;
}
.ios-btn:hover,
.ios-btn:active,
.android-btn:hover,
.android-btn:active {
  background-color: #fe5663;
  color: #fff;
}
/****************************/
/*PRICING SECTION*/
/****************************/
.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.4rem;
}
.pricing-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 2.4rem;
}
.plan-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  background-color: #fff;
  border-radius: 2.4rem;
  border: 2px solid #888;
  width: 14rem;
  height: 3.2rem;
  margin-bottom: 2.4rem;
  padding: 0 2px;
}
.monthly,
.yearly {
  height: 2.4rem;
}
.yearly {
  background-color: #fff;
  color: #666;
  font-weight: 700;
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 4.8rem;
  margin-bottom: 6.4rem;
  width: 100%;
  padding: 4.8rem;
}
.plan {
  border: 1px solid #eee;
  padding: 2.4rem;
  box-shadow: 1px 1rem 1rem rgba(0, 0, 0, 0.087);
  width: 30rem;
  border-radius: 5px;
  transition: all 0.4s;
}
.plan:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0px 3rem 7rem rgba(0, 0, 0, 0.2);
}
.head {
  margin-bottom: 2.4rem;
}
.dollar-sign,
.price-num,
.per {
  display: inline-block;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.dollar-sign {
  font-size: 1.8rem;
  align-self: flex-start;
}
.price-num {
  margin: 0;
}
.per {
  font-size: 1;
  color: #666;
  align-self: end;
}
.get-paragraph {
  font-size: 1rem;
  color: #666;
  font-weight: 500;
}
hr {
  margin: 1.6rem 0;
  border-top: 1px solid #eee;
}
.plan-list {
  list-style: none;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 3px;
}
.check-mark {
  color: #5990f5;
  background-color: #eef5fe;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  padding: 2px;
}
.list-line {
  font-weight: 500;
}
.plan-btn {
  width: 9.6rem;
  height: 3.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #fff;
  color: #090b2f;
  border: 2px solid #eee;
}
.sweet button {
  background-color: #fe5663;
  color: #fff;
}
.juicy ion-icon {
  color: #76d99c;
  background-color: #d7f5df;
}
.sweet {
  border-top: 2px solid #fe5663;
  box-shadow: 5px 5rem 5rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.sweet::after {
  content: "Most Popular";
  position: absolute;
  color: #fff;
  font-size: 1.2;
  font-weight: 500;
  background-color: #296df4;
  padding: 0.6rem 2.4rem 0.6rem 1.2rem;
  border-radius: 2.4rem;
  top: 1.2rem;
  right: -1rem;
}
.review-container {
  background-image: url("images/review.jpg");
  background-size: cover;
  width: 90%;
  height: 30rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 9.6rem;
  margin: 4.8rem;
}
.review-img {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20rem;
  align-items: center;
  color: #888;
  font-weight: 500;
}
.programmer {
  height: 9.6rem;
  width: 9.6rem;
  border-radius: 50%;
}
.stars {
  align-self: center;
  color: rgb(227, 179, 56);
}
.review-paragraph {
  display: flex;
  flex-direction: column;
}
.review-paragraph p {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
}
.name-buttons {
  display: flex;
  justify-content: space-between;
}
.name-job {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: #fff;
}
.name {
  font-weight: 700;
  margin-bottom: 0rem;
}
.developer {
  color: #888;
}
.review-btn ion-icon {
  color: #fff;
  font-weight: 400;
}
.works-best {
  width: 50rem;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}
.join-paragraph {
  color: #888;
  font-size: 1.2rem;
}
.row-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.logo-div {
  height: 9.6rem;
  width: 9.6rem;
  background-color: #fff;
  box-shadow: 5px 3rem 3rem rgba(0, 0, 0, 0.07);
}
.logo-div:hover,
.logo-div:visited {
  transform: translateY(-0.8rem);
}
.sponser-logo {
  height: 3.2rem;
  width: 3.2rem;
  margin: 3.2rem;
}
.row-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
/****************************/
/*Footer SECTION*/
/****************************/
.footer {
  padding: 6.4rem;
  background-color: #e9edee;
}
.footer-columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 4.8rem;
  margin-bottom: 6.4rem;
}
.wordpress {
  margin-right: 3.2rem;
}
.footer-img {
  width: 9.6rem;
  margin-bottom: 2.4rem;
}
.wordpress-paragraph {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  color: #666;
}
.readmore {
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  gap: 0.8rem;
  color: #090b2f;
  margin-bottom: 2.4rem;
}
.readmore:hover,
.readmore:visited {
  font-size: 1.8rem;
}
.social {
  display: flex;
  gap: 1.2rem;
}
.social-container {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 7px;
}
.social-logo {
  height: 2.4rem;
  width: 2.4rem;
  color: #090b2f;
  border: none;
}
.column-head {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.footer ul {
  font-size: 1.2rem;
  color: #666;
  line-height: 2;
  font-weight: 700;
}
.communication {
  margin-left: 3.2rem;
}
.communication li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
  align-items: start;
}
.footer-icon {
  color: blue;
  width: 1.6rem;
  height: 1.6rem;
}
.footer hr {
  border-top: 1px solid #ccc;
  margin-bottom: 3.2rem;
}
.footer-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-options {
  display: flex;
  gap: 0.6rem;
}
.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 1.2rem 2.4rem;
}
.ios-down {
  background-color: #fff;
}
.download-btn:hover,
.download-btn:visited {
  background-color: #fe5663;
  color: #fff;
}
.copyright {
  font-size: 1.6rem;
  color: #666;
}
